<!-- Navigation Bar with Logout Button -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <span class="navbar-brand mb-0 h1">Researcher Management</span>
  <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
</nav>

<h2 class="text-center mb-4">Researcher Management</h2>

<!-- Show the message -->
<div *ngIf="message" [ngClass]="{'alert': true, 'alert-success': !isError, 'alert-danger': isError, 'fade': true, 'show': true}" class="alert-dismissible fade show">
  {{ message }}
</div>

<!-- Form -->
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <form (ngSubmit)="saveCustomer()" #customerForm="ngForm" novalidate>
        <!-- Name Field -->
        <div class="row mb-3 align-items-start">
          <label for="name" class="col-sm-3 col-form-label text-end">Name</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="name"
              [(ngModel)]="customer.name"
              name="name"
              class="form-control"
              placeholder="Enter name"
              required
              #name="ngModel"
            />
            <!-- Validation message for name -->
            <div *ngIf="name.invalid && name.touched" class="text-danger small mt-1">
              Name is required.
            </div>
          </div>
        </div>

        <!-- Email Field -->
        <div class="row mb-3 align-items-start">
          <label for="email" class="col-sm-3 col-form-label text-end">Email</label>
          <div class="col-sm-9">
            <input
              type="email"
              id="email"
              [(ngModel)]="customer.email"
              name="email"
              class="form-control"
              placeholder="Enter email"
              required
              email
              #email="ngModel"
            />
            <!-- Validation messages for email -->
            <div *ngIf="email.invalid && email.touched" class="text-danger small mt-1">
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['email']">
                Enter a valid email address.
              </div>
            </div>
          </div>
        </div>

        <!-- ORCID Field -->
        <div class="row mb-3 align-items-start">
          <label for="orcid" class="col-sm-3 col-form-label text-end">ORCID</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="orcid"
              [(ngModel)]="customer.orcid"
              name="orcid"
              class="form-control"
              placeholder="Enter ORCID"
              pattern="[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}"
              #orcid="ngModel"
            />
            <!-- Validation messages for ORCID -->
            <div *ngIf="orcid.invalid && orcid.touched" class="text-danger small mt-1">            
              <div *ngIf="orcid.errors?.['pattern']">
                Enter a valid ORCID (format: 0000-0000-0000-0000).
              </div>
            </div>
          </div>
        </div>

        <!-- Scopus ID Field -->
        <div class="row mb-3 align-items-start">
          <label for="scopusid" class="col-sm-3 col-form-label text-end">Scopus ID</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="scopusid"
              [(ngModel)]="customer.scopusid"
              name="scopusid"
              class="form-control"
              placeholder="Enter Scopus ID"
              #scopusid="ngModel"
            />
          </div>
        </div>

        <!-- ECRIS ID Field -->
        <div class="row mb-3 align-items-start">
          <label for="ecrisid" class="col-sm-3 col-form-label text-end">ECRIS ID</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="ecrisid"
              [(ngModel)]="customer.ecrisid"
              name="ecrisid"
              class="form-control"
              placeholder="Enter ECRIS ID"
              #ecrisid="ngModel"
            />
          </div>
        </div>


        <!-- Faculty Field -->
        <div class="row mb-3 align-items-center">
          <label for="faculty" class="col-sm-3 col-form-label text-end">Faculty</label>
          <div class="col-sm-9">
            <select id="faculty" class="form-control" [(ngModel)]="customer.faculty_id" (change)="onFacultyChange(customer.faculty_id)" name="faculty">
              <option *ngFor="let faculty of faculties" [value]="faculty.id">{{ getFacultyName(faculty.id) }}</option>
            </select>
          </div>
        </div>

        <!-- Department Field -->
        <div class="row mb-3 align-items-center">
          <label for="department" class="col-sm-3 col-form-label text-end">Department</label>
          <div class="col-sm-9">
            <select id="department" class="form-control" [(ngModel)]="customer.department_id" name="department">
              <option [ngValue]="null" selected>N/A</option>
              <option *ngFor="let department of filteredDepartments" [value]="department.id">{{ department.name }}</option>
            </select>
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="btn btn-primary w-50"
          [disabled]="customerForm.invalid"
        >
          {{ isEditing ? 'Update' : 'Add' }}
        </button>
        <!-- Reset Button -->
        <button
          type="button"
          class="btn btn-secondary w-50" 
          (click)="resetForm()"
        >
        Reset
        </button>

      </form>
    </div>
  </div>
</div>

<!-- Filter Section -->
<div class="container-fluid mt-4 mb-4 ps-0">
  <div class="row g-0">
    <div class="col-md-3">
      <div class="form-group d-flex gap-2">
        <input
          type="text"
          id="filterString"
          [(ngModel)]="filterString"
          (input)="this.changePage(1); loadCustomers();"
          class="form-control"
          placeholder="Search any part of name, email, ORCID, Scopus ID, or ECRIS ID"
        />
        <button class="btn btn-secondary" (click)="filterString = ''; loadCustomers()">Clear</button>
      </div>
    </div>
    <div class="col-md-9 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="downloadCsv()">Download CSV</button>
    </div>
  </div>
</div>

<!-- Customer List Table -->
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">ORCID</th>
      <th scope="col">Scopus ID</th>
      <th scope="col">ECRIS ID</th>
      <th scope="col">Faculty</th>
      <th scope="col">Department</th>
      <th scope="col" class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cust of customers; let i = index">
      <!-- <td>{{ cust.id }}</td> -->
      <td>{{ cust.name }}</td>
      <td>{{ cust.email }}</td>
      <td>{{ cust.orcid }}</td>
      <td>{{ cust.scopusid }}</td>
      <td>{{ cust.ecrisid }}</td>
      <td>{{ getFacultyName(cust.faculty_id) }}</td>
      <td>{{ getDepartmentName(cust.department_id) }}</td>
      <td class="text-end">
        <button
          class="btn btn-sm btn-warning me-2"
          (click)="editCustomer(cust)"
        >
          Edit
        </button>

        <button
          class="btn btn-sm btn-danger"
          (click)="openDeleteModal(cust.id)"
          data-bs-toggle="modal"
          data-bs-target="#deleteConfirmationModal"
        >
        Delete
        </button>                
      </td>
    </tr>
  </tbody>
</table>

<!-- Pagination Controls -->
<div class="d-flex justify-content-between align-items-center mt-4">
  <div>
    <label for="pageSize" class="me-2">Items per page:</label>
    <select id="pageSize" [(ngModel)]="pageSize" (change)="changePage(1); loadCustomers();" class="form-select d-inline-block w-auto">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <ul class="pagination mb-0">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="changePage(1)">&laquo;</button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="changePage(currentPage - 1)">&lt;</button>
    </li>
    <li class="page-item disabled">
      <span class="page-link">Page {{ currentPage }} of {{ totalPages }}</span>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="changePage(currentPage + 1)">&gt;</button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="changePage(totalPages)">&raquo;</button>
    </li>
  </ul>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete customer {{deleteCustomerName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
